In [1]:
import os
import boto3
import pandas as pd
import sys
import s3fs
from io import StringIO

In [3]:
client = boto3.client('s3', aws_access_key_id='AKIATHGO3RS3C7EMIAU4',
        aws_secret_access_key='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')

In [4]:
bucket_name = 'research-dashboard'

object_key = 'trading-dashboard-data/purchase_info.csv'

In [5]:
csv_obj = client.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

df = pd.read_csv(StringIO(csv_string))

In [6]:
df

,date,action,company,yahoo_ticker,currency,num_shares,stock_price_usd,trading_costs_usd,total_usd,total_shares_held,return
0,"06/02/2022, 14:08:35",BUY,PVH,PVH,USD,140.0,71.110001,0,9955.400085,140.0,NaN
1,"06/03/2022, 07:41:01",SELL,PVH,PVH,USD,140.0,72.470000,0,-10145.800000,0.0,NaN
2,"06/03/2022, 07:41:01",BUY,AVGO,AVGO,USD,17.0,568.994995,0,9672.914917,17.0,NaN
3,"06/06/2022, 12:56:31",SELL,AVGO,AVGO,USD,17.0,563.350000,0,-9576.950000,-17.0,NaN
4,"06/06/2022, 12:56:31",BUY,FB,FB,USD,51.0,192.372931,0,9811.019507,51.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
130,"06/16/2022, 13:46:54",BUY,ANET,ANET,USD,111.0,89.419998,0,9925.619797,111.0,6.859800487291068e-05
131,"06/16/2022, 14:01:36",SELL,ANET,ANET,USD,111.0,89.810000,0,-9968.910000,0.0,0.00436146095997275
132,"06/16/2022, 14:01:36",BUY,NI,NI,USD,370.0,26.985001,0,9984.450226,370.0,1.1026361789845396e-05
133,"06/16/2022, 14:15:20",SELL,NI,NI,USD,370.0,27.200000,0,-10064.000000,0.0,0.007967366491960191
134,"06/16/2022, 14:15:20",BUY,CTRA,CTRA,USD,347.0,28.752100,0,9976.978697,347.0,0.00047623846330679953

In [25]:
df['cash'] = 0
df['cash'].loc[0] = 10000-df['total_usd'].loc[0]
i = 1
for i in range(1,len(df)):
    
    df['cash'].loc[i] = df['cash'].loc[i-1] - df['total_usd'].loc[i]
rets = df.loc[df['total_shares_held'] == 0]
rets = rets[['date','cash']]
rets.reset_index(inplace = True,drop=True)
rets.columns = ['dt','value']
rets.loc[-1] = ['2022-06-03 07:41:00', 10000]
rets.index = rets.index+1
rets.sort_index(inplace=True) 
rets['dt'] = pd.to_datetime(rets['dt'])

/var/folders/qw/ly0bcf551mgdzlvs3rs3vqb80000gn/T/ipykernel_95052/987455063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cash'].loc[0] = 10000-df['total_usd'].loc[0]

In [26]:
rets['dt'] = pd.to_datetime(rets['dt'])

rets['return'] = (rets['value']-rets['value'].shift(1))/rets['value'].shift(1)
rets['daily_first'] = rets.groupby(rets['dt'].dt.date)['value'].transform("first")
rets['weekly_first'] = rets.groupby(rets['dt'].dt.week)['value'].transform("first")
rets['monthly_first'] = rets.groupby(rets['dt'].dt.month)['value'].transform("first")

rets['daily_return'] = (rets['value']-rets['daily_first'])/rets['daily_first']
rets['weekly_return'] = (rets['value']-rets['weekly_first'])/rets['weekly_first']
rets['monthly_return'] = (rets['value']-rets['monthly_first'])/rets['monthly_first']

/var/folders/qw/ly0bcf551mgdzlvs3rs3vqb80000gn/T/ipykernel_95052/283353954.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  rets['weekly_first'] = rets.groupby(rets['dt'].dt.week)['value'].transform("first")

In [27]:
rets

,dt,value,return,daily_first,weekly_first,monthly_first,daily_return,weekly_return,monthly_return
0,2022-06-03 07:41:00,10000.000000,NaN,10000.000000,10000.000000,10000.0,0.000000,0.000000,0.000000
1,2022-06-03 07:41:01,10190.399915,0.019040,10000.000000,10000.000000,10000.0,0.019040,0.019040,0.019040
2,2022-06-13 11:14:48,10901.216708,0.069754,10901.216708,10901.216708,10000.0,0.000000,0.000000,0.090122
3,2022-06-15 14:37:18,10935.986430,0.003190,10935.986430,10901.216708,10000.0,0.000000,0.003190,0.093599
4,2022-06-15 15:08:14,10938.070835,0.000191,10935.986430,10901.216708,10000.0,0.000191,0.003381,0.093807
5,2022-06-16 10:50:37,10878.501947,-0.005446,10878.501947,10901.216708,10000.0,0.000000,-0.002084,0.087850
6,2022-06-16 11:02:48,10878.501947,0.000000,10878.501947,10901.216708,10000.0,0.000000,-0.002084,0.087850
7,2022-06-16 11:15:06,10838.339627,-0.003692,10878.501947,10901.216708,10000.0,-0.003692,-0.005768,0.083834
8,2022-06-16 11:26:46,10822.519903,-0.001460,10878.501947,10901.216708,10000.0,-0.005146,-0.007219,0.082252
9,2022-06-16 11:58:24,10836.120033,0.001257,10878.501947,10901.216708,10000.0,-0.003896,-0.005972,0.083612
10,2022-06-16 12:12:07,10839.584725,0.000320,10878.501947,10901.216708,10000.0,-0.003577,-0.005654,0.083958
11,2022-06-16 12:25:48,10830.684579,-0.000821,10878.501947,10901.216708,10000.0,-0.004396,-0.006470,0.083068
12,2022-06-16 12:39:30,10852.134882,0.001981,10878.501947,10901.216708,10000.0,-0.002424,-0.004502,0.085213
13,2022-06-16 12:54:12,10757.677934,-0.008704,10878.501947,10901.216708,10000.0,-0.011107,-0.013167,0.075768
14,2022-06-16 13:07:18,10730.137561,-0.002560,10878.501947,10901.216708,10000.0,-0.013638,-0.015694,0.073014
15,2022-06-16 13:20:26,10730.137561,0.000000,10878.501947,10901.216708,10000.0,-0.013638,-0.015694,0.073014
16,2022-06-16 13:33:11,10730.773674,0.000059,10878.501947,10901.216708,10000.0,-0.013580,-0.015635,0.073077
17,2022-06-16 13:46:54,10698.831027,-0.002977,10878.501947,10901.216708,10000.0,-0.016516,-0.018565,0.069883
18,2022-06-16 14:01:36,10742.121231,0.004046,10878.501947,10901.216708,10000.0,-0.012537,-0.014594,0.074212
19,2022-06-16 14:15:20,10821.671005,0.007405,10878.501947,10901.216708,10000.0,-0.005224,-0.007297,0.082167

In [30]:
rets = rets[['dt','value','return','daily_return','weekly_return','monthly_return']]
rets = rets.round(decimals = 4)
rets.to_csv("s3://research-dashboard/trading-dashboard-data/portfolio_returns.csv",
          storage_options={'key': 'AKIATHGO3RS3C7EMIAU4',
                           'secret': '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'})

print("Dataframe is saved as CSV in S3 bucket.")

Dataframe is saved as CSV in S3 bucket.

In [31]:
rets

,dt,value,return,daily_return,weekly_return,monthly_return
0,2022-06-03 07:41:00,10000.0000,NaN,0.0000,0.0000,0.0000
1,2022-06-03 07:41:01,10190.3999,0.0190,0.0190,0.0190,0.0190
2,2022-06-13 11:14:48,10901.2167,0.0698,0.0000,0.0000,0.0901
3,2022-06-15 14:37:18,10935.9864,0.0032,0.0000,0.0032,0.0936
4,2022-06-15 15:08:14,10938.0708,0.0002,0.0002,0.0034,0.0938
5,2022-06-16 10:50:37,10878.5019,-0.0054,0.0000,-0.0021,0.0879
6,2022-06-16 11:02:48,10878.5019,0.0000,0.0000,-0.0021,0.0879
7,2022-06-16 11:15:06,10838.3396,-0.0037,-0.0037,-0.0058,0.0838
8,2022-06-16 11:26:46,10822.5199,-0.0015,-0.0051,-0.0072,0.0823
9,2022-06-16 11:58:24,10836.1200,0.0013,-0.0039,-0.0060,0.0836
10,2022-06-16 12:12:07,10839.5847,0.0003,-0.0036,-0.0057,0.0840
11,2022-06-16 12:25:48,10830.6846,-0.0008,-0.0044,-0.0065,0.0831
12,2022-06-16 12:39:30,10852.1349,0.0020,-0.0024,-0.0045,0.0852
13,2022-06-16 12:54:12,10757.6779,-0.0087,-0.0111,-0.0132,0.0758
14,2022-06-16 13:07:18,10730.1376,-0.0026,-0.0136,-0.0157,0.0730
15,2022-06-16 13:20:26,10730.1376,0.0000,-0.0136,-0.0157,0.0730
16,2022-06-16 13:33:11,10730.7737,0.0001,-0.0136,-0.0156,0.0731
17,2022-06-16 13:46:54,10698.8310,-0.0030,-0.0165,-0.0186,0.0699
18,2022-06-16 14:01:36,10742.1212,0.0040,-0.0125,-0.0146,0.0742
19,2022-06-16 14:15:20,10821.6710,0.0074,-0.0052,-0.0073,0.0822

In [29]:
rets.tail(10)

,dt,value,return,daily_return,weekly_return,monthly_return
10,2022-06-16 12:12:07,10839.584725,0.000320,-0.003577,-0.005654,0.083958
11,2022-06-16 12:25:48,10830.684579,-0.000821,-0.004396,-0.006470,0.083068
12,2022-06-16 12:39:30,10852.134882,0.001981,-0.002424,-0.004502,0.085213
13,2022-06-16 12:54:12,10757.677934,-0.008704,-0.011107,-0.013167,0.075768
14,2022-06-16 13:07:18,10730.137561,-0.002560,-0.013638,-0.015694,0.073014
15,2022-06-16 13:20:26,10730.137561,0.000000,-0.013638,-0.015694,0.073014
16,2022-06-16 13:33:11,10730.773674,0.000059,-0.013580,-0.015635,0.073077
17,2022-06-16 13:46:54,10698.831027,-0.002977,-0.016516,-0.018565,0.069883
18,2022-06-16 14:01:36,10742.121231,0.004046,-0.012537,-0.014594,0.074212
19,2022-06-16 14:15:20,10821.671005,0.007405,-0.005224,-0.007297,0.082167

In [19]:
df.loc[df['company'] == 'BKNG']

,date,action,company,yahoo_ticker,currency,num_shares,stock_price_usd,trading_costs_usd,total_usd,total_shares_held,return,cash
116,"06/16/2022, 12:12:07",SELL,BKNG,BKNG,USD,5.0,1855.969971,0,-9279.849854,-5.0,0.0,20119.434579
117,"06/16/2022, 12:25:48",BUY,BKNG,BKNG,USD,5.0,1857.750000,0,9288.750000,0.0,0.0009590830266508271,10830.684579

In [24]:
df.tail(30)

,date,action,company,yahoo_ticker,currency,num_shares,stock_price_usd,trading_costs_usd,total_usd,total_shares_held,return,cash
105,"06/16/2022, 10:50:37",SELL,PNW,PNW,USD,147.0,67.580000,0,-9934.260000,0.0,-0.005960567,10878.501947
106,"06/16/2022, 10:50:37",BUY,ROST,ROST,USD,136.0,73.205997,0,9956.015656,136.0,8.05E-05,922.486291
107,"06/16/2022, 11:02:48",SELL,ROST,ROST,USD,136.0,73.205997,0,-9956.015656,0.0,0,10878.501947
108,"06/16/2022, 11:02:48",BUY,NCLH,NCLH,USD,945.0,10.575000,0,9993.374820,945.0,5.68E-06,885.127127
109,"06/16/2022, 11:15:06",SELL,NCLH,NCLH,USD,945.0,10.532500,0,-9953.212500,0.0,-0.004018895,10838.339627
110,"06/16/2022, 11:15:06",BUY,EMN,EMN,USD,113.0,88.059998,0,9950.779724,113.0,0.000183414,887.559903
111,"06/16/2022, 11:26:46",SELL,EMN,EMN,USD,113.0,87.920000,0,-9934.960000,0.0,-0.001589797,10822.519903
112,"06/16/2022, 11:45:47",BUY,DAL,DAL,USD,340.0,29.400000,0,9995.999870,340.0,3.950936661567539e-05,826.520033
113,"06/16/2022, 11:58:24",SELL,DAL,DAL,USD,340.0,29.440000,0,-10009.600000,0.0,0.0013605572105010923,10836.120033
114,"06/16/2022, 11:58:24",BUY,VRSK,VRSK,USD,63.0,158.005005,0,9954.315308,63.0,8.440353849437088e-05,881.804725
115,"06/16/2022, 12:12:07",SELL,VRSK,VRSK,USD,63.0,158.060000,0,-9957.780000,0.0,0.0003480593366538641,10839.584725
116,"06/16/2022, 12:12:07",SELL,BKNG,BKNG,USD,5.0,1855.969971,0,-9279.849854,-5.0,0.0,20119.434579
117,"06/16/2022, 12:25:48",BUY,BKNG,BKNG,USD,5.0,1857.750000,0,9288.750000,0.0,0.0009590830266508271,10830.684579
118,"06/16/2022, 12:25:48",BUY,UDR,UDR,USD,234.0,42.693332,0,9990.239697,234.0,0.00015324115520343184,840.444882
119,"06/16/2022, 12:39:30",SELL,UDR,UDR,USD,234.0,42.785000,0,-10011.690000,0.0,0.002147126009881819,10852.134882
120,"06/16/2022, 12:39:30",BUY,CTRA,CTRA,USD,341.0,29.285000,0,9986.184948,341.0,0.0001884878583950922,865.949934
121,"06/16/2022, 12:54:12",SELL,CTRA,CTRA,USD,341.0,29.008000,0,-9891.728000,0.0,-0.009458762125846093,10757.677934
122,"06/16/2022, 12:54:12",BUY,REGN,REGN,USD,17.0,557.710022,0,9481.070374,17.0,5.811204027850181e-05,1276.607561
123,"06/16/2022, 13:07:18",SELL,REGN,REGN,USD,17.0,556.090000,0,-9453.530000,0.0,-0.002904774719532735,10730.137561
124,"06/16/2022, 13:07:18",BUY,HLT,HLT,USD,86.0,115.940935,0,9970.920422,86.0,0.00024603374185971916,759.217139
125,"06/16/2022, 13:20:26",SELL,HLT,HLT,USD,86.0,115.940935,0,-9970.920422,0.0,0.0,10730.137561
126,"06/16/2022, 13:20:26",BUY,VRSK,VRSK,USD,63.0,157.552403,0,9925.801386,63.0,0.0001197023011627607,804.336174
127,"06/16/2022, 13:33:11",SELL,VRSK,VRSK,USD,63.0,157.562500,0,-9926.437500,0.0,6.408690511301958e-05,10730.773674
128,"06/16/2022, 13:33:11",BUY,HLT,HLT,USD,86.0,115.631426,0,9944.302647,86.0,7.277535041794181e-05,786.471027
129,"06/16/2022, 13:46:54",SELL,HLT,HLT,USD,86.0,115.260000,0,-9912.360000,0.0,-0.003212155574425314,10698.831027
130,"06/16/2022, 13:46:54",BUY,ANET,ANET,USD,111.0,89.419998,0,9925.619797,111.0,6.859800487291068e-05,773.211231
131,"06/16/2022, 14:01:36",SELL,ANET,ANET,USD,111.0,89.810000,0,-9968.910000,0.0,0.00436146095997275,10742.121231
132,"06/16/2022, 14:01:36",BUY,NI,NI,USD,370.0,26.985001,0,9984.450226,370.0,1.1026361789845396e-05,757.671005
133,"06/16/2022, 14:15:20",SELL,NI,NI,USD,370.0,27.200000,0,-10064.000000,0.0,0.007967366491960191,10821.671005
134,"06/16/2022, 14:15:20",BUY,CTRA,CTRA,USD,347.0,28.752100,0,9976.978697,347.0,0.00047623846330679953,844.692308